/*CSS for webpage */
/* Set ALL HTML elements with border-box sizing */

* {
    box-sizing: border-box;
}

/* navigation style */
.myTopNav {
    width: 100%;
    background-color: #000;
    overflow: auto;
}

.myTopNav a {
    float: left;
    padding: 1px;
    color: #fff;
    font-size: 17px;
    width: 20%;
    text-align: center;
}

.myTopNav a:hover {
    background-color:#ffc300;
}

@media screen and (max-width: 500px) {
    .myTopNav a {
        float: none;
        display: block;
        width:100%;
        text-align: left;
    }
}

/* body & background */
.background {
    background-color: #22333b;
}

#center {
    text-align: center;
}

body {
    background-color: transparent;
    color: #000000;
    margin: 0 auto;
}

/* h1, h2, h3, & p styles */
h1, h2, h3 {
    color: #ffc300;
}

p {
    color: #fff;
    font-size: 19px;
    font-family: Helvetica, sans-serif;
    line-height: 1.8;
    display: inline-block;
    width: 46%;
    @media (max-width: 620px) {
        width: 100%;
    }
}

/* images */
.banner {
    width: 100%;
    border-radius: 12px;
    height: 214px;
    object-fit: cover;
}

/*.first-image {
    display: inline-block;
    vertical-align: top;
    width: 25%;
}*/

.second-image {
    display: inline-block;
    vertical-align: top;
    width: 18%;
}