/*CSS for webpage */
/* Set ALL HTML elements with border-box sizing */

* {
    box-sizing: border-box;
}

/* Body */

/* Header */

/* Sections */

/* Main */

/* Footer */

/* Images */

img {
    width: 400px;
    display: block;
    padding: 10px;
}

/* h3 */

/* p */
